[submodule "wp-content/plugins/wp-plugin-mailchimp-ajax-subscribe"]
	path = wp-content/plugins/wp-plugin-mailchimp-ajax-subscribe
	url = git@github.com:spielhoelle/wp-plugin-mailchimp-ajax-subscribe.git
