[submodule "wp-content/plugins/wp-plugin-mailchimp-ajax-subscribe"]
  path = wp-content/plugins/wp-plugin-mailchimp-ajax-subscribe
  url = https://github.com/spielhoelle/wp-plugin-mailchimp-ajax-subscribe
