body
  &.blog, &.archive, &.search
    .entry-header
      margin: 0px 30px 40px
      padding: 0 30px
      display: flex
      justify-content: space-between
      align-items: flex-end
      width: 100%
      max-width: $viewport
      label
        flex: 1 0 auto

      form.search-form
        display: flex
        flex-flow: row nowrap
        margin-top: 20px
        label
          margin-right: 2px
        input[type="submit"]
          margin-top: 0
      @media(max-width: $breakpoint3)
        flex-flow: column
        align-items: stretch
      .overview
        flex: 1 1 auto
    #main
      margin-bottom: 0

  .breadcrumb
    margin-bottom: 0.3em
    .current-page, a
      color: white

  .category_structure
    &, .children
      list-style: none
      padding: 0
  .category_structure
    display: flex
    flex-flow: row wrap
    font-size: 1.3em
    
    .current-cat a
      background-color: black
      color: white
    a
.post-categories, .category_structure, .tags-links
  a
    font-family: $font__title
    padding: 0.3em
    background: darken(white, 5)
    display: inline-block
    margin: .3em .3em 0 0
    display: block
    white-space: nowrap
    background-color: $lightgrey
    padding: .3rem
    text-decoration: none
    transition: background-color .25s
    font-size: 1rem
    &:hover
      background-color: $grey
