$white: #fff;
$lightgrey: #f0f0f0;
$grey: #dadada;

$black: #111;
$darkgrey: #404040;

$color__border-abbr: #666;

$size__site-main: 100%;
$size__site-sidebar: 25%;

$yellow: #ff0;
/**
* Variables
*/

$viewport: 1600px;

$gap: 30px;

$menu-break-point: 37.5em;
$header-height: 100px;
$footer-height: 340px;