.bx-wrapper {
  overflow: hidden;
  position: relative;

  .bx-controls {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    a {
      font-size: 3em;
      color: white;
      position: absolute;
      height: 100%;
      z-index: 51;
      width: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      &.bx-next {
        right: 0;
      }

    }
  }
}

.slider figure {
  position: relative;
  &.active-slide img {
    transform: scale(1.2);
  }
  a {
    height: 100%;
  }
  img {
    transition: 15s cubic-bezier(0.32, 0.31, 0.43, 0.84);
  }
  figcaption {

    h1, h2, .more-link {
      opacity: 0;
      transform: translate(-50px, 0);

    }
    h1 {
      display: inline;
      transition: opacity .5s ease 0s, transform .5s ease 0s;

    }
    h2 {
      margin-top: 20px;
      background: rgba(0, 0, 0, 0.9);
      color: white;
      transition: opacity .5s ease .5s, transform .5s ease .5s;
    }
    .more-link {
      transition: opacity .5s ease .8s, transform .5s ease .8s;
    }
  }
  &.active-slide {
    h1, h2, .more-link {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

