.bx-wrapper
  overflow: hidden
  position: relative
  background: black

  .bx-controls
    position: absolute
    height: 100%
    top: 0
    width: 100%
    a.bx-prev, a.bx-next
      font-size: 5em
      color: white
      position: absolute
      height: 60%
      top: 20%
      z-index: 51
      width: 10vh
      display: flex
      justify-content: center
      align-items: center
      text-decoration: none
      opacity: 0
      transition: opacity .3s ease
      &.bx-next
        right: 0
  &:hover
    .bx-controls
      a.bx-prev, a.bx-next
        opacity: 1


.slider
  height: 100% !important
  // @media (max-width: $breakpoint3)
  //   min-height: 81vh


.slider
  .slide
  .captionwrap
    height: 100%
    flex-flow: column
    justify-content: space-between
    display: flex
    align-items: flex-end

    @media (max-width: $breakpoint3)
      height: 100%
      justify-content: space-between
      flex-flow: column

.sliderlink
  height: 100%
  width: 100%
  position: absolute
  @media (max-width: $breakpoint3)
    width: 100%

  img
    transition: 15s cubic-bezier(0.32, 0.31, 0.43, 0.84)

figure.slide.header
  height: auto

.slider
  figure
    @media (max-width: $breakpoint3)
      // height: 100%

    &.active-slide img
      transform: scale(1.2)


    figcaption
      padding-top: 20vh
      width: 100%
      left: 0
      display: flex
      flex-flow: column
      align-items: flex-start
      max-width: 100%
      position: relative
      @media (max-width: $breakpoint3)
        padding: 0px
        bottom: auto
        width: 100%
      > *
        line-height: 1
      a:not(.more-link)
        color: white
        text-decoration: underline
      h1, h2
        text-align: left !important
        &:empty
          display: none
        i.fa
          font-size: 0.8em
          margin-left: 0

      h1, h2
        margin: 0
        opacity: 0
        transform: translate(-200px, 0)

      h1
        background-color: transparentize(white, 0.1)
        color: black
        transition: opacity .5s ease 0s, transform .5s ease 0s
        @media (max-width: $breakpoint1)
          font-size: 2rem
          &:before
            font-size: 1.5rem
      h2
        font-family: $font__main
        font-weight: 100
        background: transparentize(black, 0.1)
        color: white
        transition: opacity .5s ease .2s, transform .5s ease .2s
        max-height: 5.5rem
        line-height: 2.5rem
        text-overflow: ellipsis
        overflow: hidden
        max-width: 100%
        @media (max-width: $breakpoint1)
          font-size: 1.2rem
          max-height: 4.5rem
          line-height: 2rem
        @media (max-width: $breakpoint2)
          max-height: 4.5rem


    &.active-slide
      h1, h2, .more-link
        opacity: 1
        transform: translate(0, 0)
  .subslider
    background-color: #eee
    text-align: center
    padding: 10px
    *
      display: block
      margin: 10px
  ock
      margin: 10px
