.bx-wrapper
  overflow: hidden
  position: relative
  .bx-controls
    position: absolute
    height: 100%
    top: 0
    width: 100%
    a.bx-prev, a.bx-next
      font-size: 5em
      color: white
      position: absolute
      height: 60%
      top: 20%
      z-index: 51
      width: 10vh
      display: flex
      justify-content: center
      align-items: center
      text-decoration: none
      opacity: 0
      transition: opacity .3s ease
      &:hover
        background: rgba(0, 0, 0, 0.1)
      &.bx-next
        right: 0
  &:hover
    .bx-controls
      a.bx-prev, a.bx-next
        opacity: 1

section[rel="Startseite"]
  position: relative

.slider figure
  position: relative
  &.active-slide img
    transform: scale(1.2)
  a
    height: 100%
  img
    transition: 15s cubic-bezier(0.32, 0.31, 0.43, 0.84)
  figcaption
    display: flex
    flex-flow: column
    align-items: flex-start
    max-width: 100%
    @media (max-width: $breakpoint3)
      pointer-events: none
      padding: 0px 10px

    > *
      flex: 0 0 auto
      line-height: 1

    a:not(.more-link)
      color: white
      text-decoration: underline
    h1, h2
      text-align: left !important
      &:empty
        display: none
      i.fa
        font-size: 0.8em
        margin-left: 0
    h1, h2, .more-link
      margin:  0 0 10px 0
      opacity: 0
      transform: translate(-50px, 0)


    h1
      transition: opacity .5s ease 0s, transform .5s ease 0s
      @media (max-width: $breakpoint1)
        font-size: 2em
        &:before
          font-size: 1.5rem
    h2
      font-family: $font__main
      font-weight: 100
      background: rgba(0, 0, 0, 0.9)
      color: white
      transition: opacity .5s ease .5s, transform .5s ease .5s
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      max-width: 100%
      @media (max-width: $breakpoint1)
        font-size: 1.2em
      @media (max-width: $breakpoint2)
        font-size: 1em
      *
        margin: 0
        padding: 0
    .more-link
      transition: opacity .5s ease .8s, transform .5s ease .8s
  &.active-slide
    h1, h2, .more-link
      opacity: 1
      transform: translate(0, 0)
.subslider
  background-color: #eee
  text-align: center
  padding: 10px
  *
    display: block
    margin: 10px
