@import "base"

section[class^='color']
  position: relative
  &:after
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    content: ""
    z-index: -1
section.color1
  &:after
    background-color: transparent

section.color2
  &:after
    background-color: black
  &, a
    color: white
  a:hover
    color: black
  h1.entry-title, h1.page-title
    background-color: white
    color: black
  .content-button, .more-link
    background: black
    border: 1px solid white
    &:hover
      background: white

  .wpcf7
    input, textarea, button
      background: black
      color: #dadada
      border: 1px solid white
    input[type="submit"]:hover
      background: white
      color: black

section.color3
  &:after
    background-color: #ddd
