footer.site-footer
  background: black
  padding: 0 $gap
  width: 100%
  &, a
    color: $grey
  
  a
    &:hover
      text-decoration: none
      background-color: white
      color: black
  .socialicons
    a:hover
      background-color: transparent
  .content-button
  .search-submit
    margin-top: 20px
  li
    margin: 15px 0
  .footer-below, .tommy
    border-top: 1px solid lighten(black, 20)
    ::selection
      background: $white
      color: #000
    ::-moz-selection
      background: $white
      color: #000


.footer-top
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  section
    flex: 1 0 200px
    margin-right: 20px
    h2
      border-bottom: 1px solid $white
    input[type="submit"], button, .content-button
      border: 1px solid white
      background: black
      color: white
      &:hover
        background: $white
        color: black
        border: 1px solid black

.footer-below
  font-family: $font__title

  .rest
    display: flex
    justify-content: space-between
    align-items: center
    flex-flow: row wrap
    word-spacing: 5px
    > div
      padding: 20px


  ul
    display: flex
    @media (max-width: $breakpoint3)
      justify-content: space-between
      width: 100%
    i
      flex: 0 0 100%
      padding: 20px
      @media (max-width: $breakpoint3)
        padding: 10px
      font-size: 2em
      transition: transform .3s ease, color .3s ease
      &:hover
        color: lighten($grey, 20)
        transform: scale(1.5)
  .tommy
    padding: 0.5em 0
    font-size: 0.7rem
    text-align: right
    &, a
      color: $darkgrey

  &:hover .tommy
    color: $white
    i
      animation-play-state: running
      color: $yellow
    a
      color: $yellow !important
      &:hover
        color: black !important
        background-color: white
  ul.children
    padding-left: 10px
