footer#colophon {
  padding: 0 20px;
  background: black;
  width: 100%;
  &, a {
    color: $grey;
  }
  .content-button {
    border: 1px solid $white;
  }
}

.footer-top {
  display: flex;
  flex-flow: row wrap;
  section {
    flex: 0 0 200px;
    margin-right: 20px;

    h2 {
      border-bottom: 1px solid $grey;
    }
  }
}

ul.children {
  padding-left: 10px;
}