button:not(.menu-toggle),
input[type="button"],
input[type="reset"],
input[type="submit"]
  background: $white
  border-radius: 0
  font-size: 28px
  border: 1px solid $black
  padding: 1em 2em
  text-align: center
  cursor: pointer
  box-shadow: none
  line-height: 1
  &:hover
      background: $black
  +font-size(0.75)
  &:hover
    border-color: $darkgrey
  &:active,
  &:focus
    border-color: $darkgrey


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea
  background: #f8fafa
  color: $grey
  border: 1px solid $grey

  &:focus
    color: $black

select
  border: 1px solid $grey



textarea
  padding-left: 3px
  width: 100%
