#masthead
  position: fixed
  z-index: 52
  background: white
  left: 50%
  transform: translate(-50%, 0)
  border-bottom: 1px solid $grey
  &:hover
    #site-description
      color: $black

  a
    text-transform: uppercase
  .top
    position: relative
    display: flex
    height: $headerheight
    .site-branding
      height: 100%
      position: absolute
      left: 0
      overflow: hidden
      .site-title
        margin: 0
        height: 100%
        a
          width: 200px
          display: inline-block
          color: transparent
          height: 100%
          background: transparent url("img/amnesty_logo.gif") no-repeat scroll left top / contain

#site-description
  transition: color .3s ease
  padding-left: 230px
  margin: 13px 0
  font-size: 1.2em
  width: 420px
  color: #ddd
  @media (max-width: $breakpoint1)
    padding-left: 110px
    margin: 0 0
    font-size: 1em
    height: $headerheight/2

.main-navigation
  height: 100%
  display: flex
  width: 100%
  flex-flow: column
  > div
    flex: 1 0 auto
    display: flex
    height: 100%
    justify-content: center
    flex-flow: column
    > ul
      height: 100%
      > .sub-menu
        top: $headerheight
        display: flex
        justify-content: center
        .sub-menu
          top: 160px
          width: 100%
          &:after
            top: 160px
      > li
        height: 100%
  ul
    display: none
    list-style: none
    margin: 0
    padding-left: 0
    .sub-menu
      background: $black
      height: $headerheight
      position: absolute
      z-index: -1
      justify-content: center
      display: flex
      flex-flow: row nowrap
      left: -999em
      transform: translateX(-50%)
      &::after
        height: 100%
        position: absolute
        z-index: -1
        top: 0
        left: 0
        display: block
        content: ""
        width: 300%
        left: -100%
        @media (max-width: $breakpoint3)
          display: none
      .sub-menu
        z-index: 0
      a
        color: $white
        margin-top: 0px
        transition: margin .3s ease
        &:hover
          background-color: #333
  div > ul li.menu-item-has-children:hover
    > .sub-menu
      left: auto
  a
    font-family: $font__title

  a, i
    height: 100%
    text-decoration: none
    padding: 0 $gap
    display: flex
    align-items: center
    white-space: nowrap
    &:hover
      background: rgba(0, 0, 0, 0.1)
  #menu-search .search-form
    position: absolute
    display: none
    right: 0
    padding: 20px
    background: #FFF
    border: 1px solid #eee

.current_page_item,
.current-menu-item,
.current_page_ancestor,
.current-menu-ancestor,
  background-color: rgba(0, 0, 0, 0.2)
  .sub-menu &
    background-color: #333
  &:hover
    background-color: rgba(0, 0, 0, 0.3)
    .sub-menu &
      background-color: #444

.comment-navigation,
.posts-navigation,
.post-navigation
  .site-main &
    margin: 0 0 1.5em
    overflow: hidden
  .nav-previous
    float: left
    width: 50%
  .nav-next
    float: right
    text-align: right
    width: 50%
