.menu-toggle
  background: transparent
  border: 0 none
  color: transparent
  width: 40px
  height: 40px
  right: 0
  top: 0
  position: absolute
  display: none
  &:before
    position: absolute
    right: 0
    color: $black
    content: "\f228"
    display: inline-block
    margin-right: 7px
    font: 400 40px/1 dashicons
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  @media screen and (max-width: $breakpoint3)
    display: block

#masthead
  position: fixed
  z-index: 52
  background: white
  left: 50%
  transform: translate(-50%, 0)
  a
    text-transform: uppercase

  .top
    position: relative
    display: flex
    height: $headerheight
    .site-branding
      height: 100%
      position: absolute
      left: 0
      overflow: hidden
      .site-title
        margin: 0
        height: 100%
        a
          width: 200px
          display: inline-block
          color: transparent
          height: 100%
          background: transparent url("img/amnesty_logo.gif") no-repeat scroll left top / contain
          @media (max-width: $breakpoint1)
            width: 99px
  @media (max-width: $breakpoint1)
    .top, .main-navigation a
      height: $headerheight / 2
#site-description
  transition: color .3s ease
  padding-left: calc(200px + 2%)
  margin: 13px 40px 0 0
  font-size: 1.2em
  color: $black
  @media (max-width: $breakpoint1)
    padding-left: 110px
    margin: 0 20px 0 0
    font-size: 1em
    height: $headerheight/2
    line-height: 1.2

  @media (max-width: $breakpoint3)
    padding-right: 30px
    max-width: 330px
.main-navigation
  height: 100%
  display: flex
  width: 100%
  flex-flow: column
  > div
    flex: 1 0 auto
    display: flex
    height: 100%
    justify-content: center
    flex-flow: column
    > ul
      height: 100%
      @media screen and (min-width: $breakpoint3)
        display: flex !important
        justify-content: space-around
        align-items: center
      > .sub-menu
        top: $headerheight
        display: flex
        justify-content: center
        .sub-menu
          top: 160px
          width: 100%
          &:after
            top: 160px
      > li
        height: 100%
        flex: 1 0 auto

  ul
    display: none
    list-style: none
    margin: 0
    padding-left: 0
    .sub-menu
      @media (max-width: $breakpoint1)
        height: $headerheight / 2
      a
        padding: 0 30px
        @media (max-width: $breakpoint1)
          padding: 0 10px
      @media (max-width: $breakpoint2)
        padding: 0 5px
      background: $black
      height: $headerheight
      position: absolute
      z-index: -1
      justify-content: center
      display: flex
      flex-flow: row nowrap
      left: -999em
      transform: translateX(-50%)
      li
        height: 100%
      &::after
        height: 100%
        position: absolute
        z-index: -1
        top: 0
        left: 0
        display: block
        content: ""
        width: 300%
        left: -100%
        @media (max-width: $breakpoint3)
          display: none
      .sub-menu
        z-index: 0
      a
        color: $white
        margin-top: 0px
        transition: margin .3s ease
        &:hover
          background-color: #333
  div > ul li.menu-item-has-children:hover
    > .sub-menu
      left: auto
  a
    font-family: $font__title
    justify-content: center

  a, i
    height: 100%
    text-decoration: none
    display: flex
    align-items: center
    white-space: nowrap
    &:hover
      background: rgba(0, 0, 0, 0.1)
  i:before
    margin: 0 auto

  #menu-search .search-form
    position: absolute
    display: none
    right: 0
    padding: 20px
    background: #FFF
    border: 1px solid #eee

.current_page_item,
.current-menu-item,
.current_page_ancestor,
.current-menu-ancestor,
  background-color: rgba(0, 0, 0, 0.2)
  .sub-menu &
    background-color: #333
  &:hover
    background-color: rgba(0, 0, 0, 0.3)
    .sub-menu &
      background-color: #444

.comment-navigation,
.posts-navigation,
.post-navigation
  .site-main &
    margin: 0 0 1.5em
    overflow: hidden
  .nav-previous
    float: left
    width: 50%
  .nav-next
    float: right
    text-align: right
    width: 50%
