#masthead {
  position: fixed;
  z-index: 52;
  background: white;
  .top {
    display: flex;
    height: 80px;
    .site-branding {
      height: 100%;
      .site-title {
        margin: 0;
        height: 100%;
        a {
          display: block;
          color: transparent;
          height: 100%;
          background: transparent url("img/amnesty_logo.gif") no-repeat scroll left top / contain;
        }
      }
      .site-description {
        display: none;
      }
    }
    nav {
      height: 100%;
      display: flex;
      width: 100%;
      flex-flow: column;
      div {
        flex: 1 0 auto;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-flow: column;
        ul {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          a {
            font-family: $font__title;
            height: 100%;
            padding: 0 30px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            &:hover {
              background: rgba(0, 0, 0, 0.1)
            }
          }
        }
        > ul {
          height: 100%;

          > li {
            height: 100%;
          }
        }
      }
    }
  }
}

.main-navigation {
  width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    .sub-menu {
      background: $black;
      height: 80px;
      position: absolute;
      z-index: 99999;
      display: flex;
      flex-flow: row nowrap;

      &:after {
        background: $black;
        content: "";
        display: block;
        width: 100%;
        max-width: 1600px;
        height: 80px;
        position: fixed;
        left: 50%;
        margin: 0 auto;
        transform: translate(-50%, 0);
        z-index: -1;
      }
      &, &:after, .sub-menu:after {
        left: -999em;
      }
      > li {
        height: 80px;
      }

      a {
        color: $white;
      }
    }
    > .sub-menu {
      top: 80px;
      .sub-menu {
        top: 160px;
        width: 100%;
        &:after {
          top: 160px;
        }
      }
    }
    > li:hover > ul,
    > li.focus > ul {
      left: auto;
      &:after {
        left: 50%;
      }
      li:hover .sub-menu:after {
        left: 50%;
      }
    }
  }
  li {
    &:hover > a,
    &.focus > a {
    }
  }
  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: $menu-break-point) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }

}
