#page {
  max-width: $viewport;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
}

#masthead, #content {
  width: 100%;
}

#content {
  margin-top: 80px;
}

.content-button {
  padding: 0.9em;
  background-color: black;
  color: white;
  font-family: $font__title;
  font-weight: 100;
}