
#page {
  max-width: $viewport;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  transition: opacity .3s ease;
  &.page-hidden {
    opacity: 0;
  }
}

#masthead, #content {
  width: 100%;
}

#content {
  margin-top: 80px;
}

.content-button {
  padding: 0.9em;
  background-color: black;
  color: white;
  font-family: $font__title;
  font-weight: 100;
}

.single {
  .wrap {
    padding: 0 20px;
  }


  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .content-wrapper {
      flex: 0 0 50%;
    }
    aside {
      margin: 20px 0;
      padding: 0 20px;
      flex: 0 0 33%;
      background: $grey;
      a {
      }
    }
  }
  .entry-content {
    border-bottom: 1px solid $grey;

  }

  .entry-meta {
    font-family: $font__title;
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
    padding: .6rem 0;
    .posted-on, .author {
      a {
        font-weight: bold;
      }
    }
  }
  .entry-footer {
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif;
    span {
      display: block;
    }
    ul {
      display: inline-flex;
    }
    a {
      display: block;
      margin: 0;
      font-weight: 400;
      text-transform: uppercase;
      -webkit-font-feature-settings: 'kern';
      font-feature-settings: 'kern';
      -webkit-font-kerning: normal;
      font-kerning: normal;
      line-height: 1.1;
      white-space: nowrap;
      margin-right: 1.71429rem;
      margin-bottom: .85714rem;
      background-color: $lightgrey;
      letter-spacing: 0;
      padding: .71429rem;
      text-decoration: none;
      -webkit-transition: background-color .25s;
      transition: background-color .25s;
      &:hover {
        background-color: $grey;
      }
    }
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 #{-$gap/2};
  padding: $gap 0 0;
  > article {
    flex: 0 0 33.3333%;
    padding: 0 #{$gap/2} $gap #{$gap/2};
  }
}

.post-format-icon:before {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  font: 400 20px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.post-format-icon.post-format-standard:before,
.post-state-format.post-format-standard:before,
a.post-state-format.format-standard:before {
  content: "\f109"
}

.post-format-icon.post-format-image:before, .post-state-format.post-format-image:before, a.post-state-format.format-image:before {
  content: "\f128"
}

.post-format-icon.post-format-gallery:before, .post-state-format.post-format-gallery:before, a.post-state-format.format-gallery:before {
  content: "\f161"
}

.post-format-icon.post-format-audio:before, .post-state-format.post-format-audio:before, a.post-state-format.format-audio:before {
  content: "\f127"
}

.post-format-icon.post-format-video:before, .post-state-format.post-format-video:before, a.post-state-format.format-video:before {
  content: "\f126"
}

.post-format-icon.post-format-chat:before, .post-state-format.post-format-chat:before, a.post-state-format.format-chat:before {
  content: "\f125"
}

.post-format-icon.post-format-status:before, .post-state-format.post-format-status:before, a.post-state-format.format-status:before {
  content: "\f130"
}

.post-format-icon.post-format-aside:before, .post-state-format.post-format-aside:before, a.post-state-format.format-aside:before {
  content: "\f123"
}

.post-format-icon.post-format-quote:before, .post-state-format.post-format-quote:before, a.post-state-format.format-quote:before {
  content: "\f122"
}

.post-format-icon.post-format-link:before, .post-state-format.post-format-link:before, a.post-state-format.format-link:before {
  content: "\f103"
}