article, section
  &:focus
    outline: none !important


#page
  display: flex
  flex-flow: column
  align-items: center
  margin: 0 auto
  transition: opacity .5s ease
  &.page-hidden
    opacity: 0

#masthead .top, .subslider,
section > article, .footer-wrap,
  max-width: $viewport
  margin: 0 auto

#main > section
  width: 100%

body.single #main > article,
body.page #main > article
  max-width: $viewport
  width: 100%

#masthead, #content
  width: 100%

#content
  margin-top: 80px
  @media (max-width: $breakpoint1)
    margin-top: $headerheight / 2

section
  .entry-footer
    text-align: center


span.author
  text-transform: capitalize

.userinfo
  display: flex
  padding: 100px 0
  flex-flow: row wrap
  > *
    padding: 20px
    flex: 0 1 600px
  img
    border-radius: 50%
    height: 300px
    flex: 0 0 300px
    background-size: cover

//
//buttons
//
.content-button,
.more-link,
.wpcf7-form input,
input[type="submit"],
.sow-more-text a
  transition: color .3s ease, background .3s ease
.wpcf7-form input:not([type="submit"])
  width: 100%

.content-button,
.more-link
  background: $white
  border: 1px solid black
  color: black
  font-size: 1.5rem
  padding: 1em 2em

.content-button
  font-family: $font__title
  font-weight: 100
  display: inline-block
  cursor: pointer
  font-size: 1rem
  text-decoration: none

.sow-more-text
  margin-top: 3em
  a
    display: inline-block
    background: $white
    border: 1px solid black
    color: black
    padding: 1em 2em
    font-family: $font__title
    &:hover
      background: black
      color: white !important
      text-decoration: none !important

.more-link, input
  font-family: $font__title
  line-height: 3
  font-size: 1rem
  padding: 0 2rem

textarea
  padding: 1rem 2rem
  font-family: $font__title

input[type="submit"]
  font-size: 1rem
.more-link
  display: inline-block
  text-decoration: none
  font-family: $font__title
  margin-bottom: $gap
  a:hover
    background-color: transparent
    color: white

figure .more-link
  background: $yellow
  border: 0 none
  margin-bottom: 0

.search-form
  #masthead &, #main &,
    padding: 20px
    input[type="submit"]
      width: 100%
      text-align: center
  @media(max-width: $breakpoint3)
    text-align: right
  input[type="search"]
    border-color: $grey
    width: calc(100% - 4em)
  input[type="submit"]
    border-radius: 0
    background: $yellow
    border: 0
    text-shadow: none
    #masthead &, #main &,
      margin-top: 20px

      label
        flex: 1 0 auto
        margin-right: 2px
        margin-top: 0
  #colophon &
    display: block
    text-align: left

input[type="submit"],
.content-button,
.more-link
  &:hover
    background: black
    color: $white
    a
      background-color: transparent
      color: $white



.wrap
  padding: $gap

.single .wrap .sidebar aside,
.grey
  margin: 20px 0
  background: $grey
  padding: 20px
  h2
    margin-top: 0
  h3
    position: relative

  ul
    margin: 20px 0px

.tagcloud
  text-align: center

.tagcloud, aside
  a:hover
    background-color: #000
    color: #FFF
aside
  width: 100%


figure.noheader
  margin-bottom: -40px
  span.icons
    padding-bottom: 0


.single
  ul.post-categories, .tags-links ul
    list-style: none
    padding: 0
  figure:not(.header):not(.gridfigure)
    margin-bottom: -50px

  .wrap
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-flow: row wrap
    .sidebar
      flex: 0 0 33%
      width: 100
      overflow: hidden


      @media (max-width: $breakpoint2)
        flex: 0 0 100%
      .entry-title
        display: inline-block
        text-overflow: ellipsis
        max-width: 100%
        white-space: nowrap
        overflow: hidden
    .content-wrapper
      flex: 0 0 50%
      max-width: 600px
      @media (max-width: $breakpoint2)
        flex: 0 0 100%
        max-width: 100%

  .entry-content
    a:not(.content-button)
      text-decoration: underline
      &:hover
        background: $yellow


  .entry-meta
    font-family: $font__title
    border-bottom: 1px solid $grey
    border-top: 1px solid $grey
    padding: .6rem 0
    .posted-on, .author
      a
        text-decoration: none
        font-weight: bold
  .entry-footer
    font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, 'Franklin Gothic Medium', sans-serif
    span
      display: block
    ul
      display: inline-flex
      flex-flow: row wrap



.ratiocontainer
  @media (max-width: $breakpoint3)
    height: 0
    padding-bottom: 60%
    .ratio
      position: absolute
      width: 100%
      height: 100%


.grid
  display: flex
  flex-flow: row wrap
  justify-content: center
  width: 100%
  margin: 0 auto
  max-width: $viewport + $gap
  @media (max-width: $breakpoint3)
    padding: $grid-gap / 2
  figure
    overflow: hidden
    background-color: $white

    img
      transition: transform .3s ease, opacity .3s ease


    figcaption h1
      font-size: 1.5em
      color: white

    figcaption
      max-width: 100%

      >div
        background: black
        padding: 0.5em
        position: relative

      h1
        padding: 0
        margin: 0
        word-break: break-word
        max-height: 4.5em
        overflow: hidden
        hyphens: auto
        display: block
        @media (max-width: $breakpoint3)
          max-height: 4.5em
          white-space: nowrap
          text-overflow: ellipsis
          width: 100%
      h2, h3, h4, h5
        display: none
      a:empty
        display: none
  > article
    flex: 0 0 25%
    padding: $grid-gap
    @media (max-width: $breakpoint1)
      flex: 0 0 33.33333%
      max-width: none
    @media (max-width: $breakpoint2)
      min-width: 400px
    @media (max-width: $breakpoint3)
      flex: 0 0 100%
      min-width: auto
      hyphens: auto

    img
      width: 100%
      height: 100%



.tommy
  i, svg
    animation-name: heart
    animation-duration: 1s
    animation-iteration-count: infinite
    animation-timing-function: ease
    padding: 0 5px
    animation-play-state: paused

.entry-title,
.page-title,
.tommy,
span.icons a
  i, svg
    transition: color .3s ease, transform .3s ease

.entry-title, .page-title, span.icons a
  &:hover
    i,svg
      transform: scale(1.15)

.entry-title, .page-title
  .fa
    margin: 0 0.3em
    &:before
      color: $white
    aside &
      margin-left: 0.3em
      line-height: 2em
      vertical-align: text-bottom
      &:before
        color: black


nav.pagination
  margin: 35px auto
  a, span
    display: inline-block
    border: 1px solid black
    padding: 5px 10px
    text-decoration: none
    &.current, &:hover
      background: black
      color: $white

hr
  height: 3px
  background-color: black
  .color2 &
    background-color: white
