.ow-button-hover, .ow-button-base a
  background: transparent !important
  border: 0 none !important
  font-size: 9em !important
  padding: 0 !important
  box-shadow: none !important

.sow-icon-container
  width: 100% !important
  margin: .5em auto !important
  position: relative !important


.sow-icon-fontawesome
  color: black !important
  font-size: 120px !important
  text-shadow: none !important
  box-shadow: 0 none !important
.sow-features-feature h5
  font-size: 1.5em !important
.so-widget-sow-editor h3.widget-title
  font-size: 1.5em !important
