section[rel="News"] {
  .newswrapper {
    display: flex;
    flex-flow: row wrap;
    > article {
      flex: 0 0 33.3333%
    }
  }
  figure {
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.2);
      transition: background .3s ease;
    }
    &:hover:before {
      background: rgba(0, 0, 0, 0.5);
    }
    figcaption {
      background: rgba(255, 255, 0, 0.9);
      h1 {
        font-size: 1.5rem;
        &:before {
          @include icon('\f10e') {
            margin-right: 10px;
          }
        }
      }
      h2 {
        display: none;
      }
    }
  }
}

section[rel="Über uns"] {
  text-align: center;
  i {
    font-size: 5rem;

  }
}

.slider, .single {
  figure {
    height: 600px;
  }
}

