.grid {
}

section {
  .entry-content {
    text-align: center;
  }
  i.fa {
    font-size: 6rem;
  }
}

h1.entry-title, h1.page-title {
  display: inline-block;
  background-color: black;
  padding: 0.3em;
  color: $white;
}

.grid {
  article.has-post-thumbnail {
    h1.entry-title, h1.page-title {
      //display: block;
    }
  }
}

//article.has-post-thumbnail {
//  h1.entry-title, h1.page-title {
//    transform: translate(0, -4em);
//    position: absolute;
//  }
//}

//
//.archive .page-header h1,
//.single .entry-content h1.entry-title {
//  transform: translate(20px, -4em);
//  position: absolute;
//}
//

//
.slider figure figcaption h1 {
  margin-bottom: 10px;
  display: inline-block;
  background-color: transparentize(#fff, 0.1);
  color: $black;
}