.grid

section
  .column i.fa
    font-size: 10rem

h1.entry-title, h1.page-title
  display: inline-block
  background-color: black
  padding: 10px
  color: $white
  @media (max-width: $breakpoint3)
    display: table

.grid
  article.has-post-thumbnail
    h1.entry-title, h1.page-title
//display: block

.slider figure figcaption h1
  margin-bottom: 10px
  display: inline-block
  background-color: transparentize(white, 0.1)
  color: $black

section[rel="Startseite"]
  a.active
    .fa:before, svg path
      color: $white
      fill: $white
    &:hover
      .fa:before, svg path
        color: $white
        fill: $white


//frontsite
section[rel="Monitoring"]
  input:not([type="submit"]), textarea
    width: 100%

.wpcf7
  .ajax-loader
    display: none !important
  .fa-spinner
    margin-left: 20px
    visibility: hidden


div.wpcf7-mail-sent-ok
  border: none
  border-left: 3px solid #398f14
  margin: 0

div.wpcf7-mail-sent-ng
  border: none
  border-left: 3px solid #ff0000
  margin: 0

div.wpcf7-spam-blocked
  border: none
  border-left: 3px solid #ffa500
  margin: 0

div.wpcf7-validation-errors
  border: none
  border-left: 3px solid #f7e700
  margin: 0

section[rel="News"]
  .more-link
    margin: 0
  .entry-footer
    padding: 30px 0
    margin-bottom: 30px
ter
    padding: 30px 0
