@import "base"
@import "font-awesome.min.css"

@import base
@import font-awesome.min.css

select#page-color,
select#page-color option
  background-color: #fff
  &.color1
    background-color: white
  &.color2
    background-color: black
    color: white
