@import "sass/base"

body#tinymce.wp-editor
  font-family: sans-serif
  h1.entry-title
    display: inline-block
    background-color: #000
    padding: 10px
    color: #fff

  .content-button,
  .more-link
    background: $white
    border: 1px solid black
    color: black
    padding: 1em 2em
    &:hover
      background: black
      color: $white

  h1, h2, h3, h4, h5, h6
    font-family: $font__title

  a
    color: $darkgrey
    text-decoration: none
    transition: .2s ease background-color, .2s ease color
    &:visited
      color: $darkgrey
    &:hover,
    &:focus,
    &:active
      color: $darkgrey
    &:focus
      outline: 0
    &:hover,
    &:active
      outline: 0



  blockquote, q
    margin: 50px 0
    quotes: '"' '"'
    border-left: 10px solid black
    padding-left: 1.5rem
    font-size: 1.3rem
    font-family: $font__title
    position: relative
    color: lighten(black, 50)
    &:before,
    &:after
      content: '"'
      position: absolute
      font-size: 2em
      left: 6px
      top: -0.3em
      font-family: sans-serif
