@import sass/base

body#tinymce.wp-editor
  .content-button
    padding: 0.9em
    background-color: black
    color: white
    font-family: $font__title
    font-weight: 100
  .more-link
    display: inline-block
    text-decoration: none
    padding: 1rem 2rem
    font-family: $font__title
    margin-bottom: $gap
    background: $white
    border: 1px solid $black
    &:hover
      background: $black
      color: $white
