@import "sass/base"

body#tinymce.wp-editor
  font-family: sans-serif
  .content-button,
  .more-link
    background: $white
    border: 1px solid black
    color: black
    padding: 1em 2em
    &:hover
      background: black
      color: $white

  h1, h2, h3, h4, h5, h6
    font-family: $font__title

  a
    color: $darkgrey
    text-decoration: none
    transition: .2s ease background-color, .2s ease color
    &:visited
      color: $darkgrey
    &:hover,
    &:focus,
    &:active
      color: $darkgrey
    &:focus
      outline: 0
    &:hover,
    &:active
      outline: 0
